html, body {
    background-color: #FE9156;
    padding: 30px;
}

.btn {
	background-color: inherit;
	border: 1px solid white;
	transition: 0.2s;
}

.btn:hover {
	border: #FE9156;
	background-color: white;
	color: #FE9156;
	transition: 0.2s;
}

.btn:focus {
	background-color: white;
	border: 1px solid white;
	color: #FE9156;
}

.btn:visited {
	background-color: white;
	border: 1px solid white;
	color: #FE9156;
}

.page {
  height: 80vh;
  padding-top: 250px;
  padding-left: auto;
  padding-right: auto;
}
    
h1 {
  color: white;
  font-family: 'Open Sans', Impact, sans-serif;
  font-size: 48px;
  line-height: 70%;
}

h3 {
    margin: 0px;
    font-size: 24px;
    color: white;
    font-family: 'Lato', serif;
}

.head_content {
  text-align: center;
}

.beer-form {
    padding-top: 150px;
}

.form_element {
    text-align: center;
    outline: none;
}

.form_img {
    margin: 15px;
    height: 80px;
}

.form_img img {
    width: 100%;
}

.form_submit {
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #FE9156;
    color: white;
    transition: 0.2s;
}

.form_submit h3 {
    line-height: 48px;
}

.form_submit:hover {
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

.form_submit:hover h3 {
    color: #FE9156;
    transition: 0.2s;
}

.results_head {
  margin-top: 200px;
}

.pref_image {
  width: 300px;
  margin: 20px;
  border-radius: 15px;
}

#logo {
	width: 350px;
}

.results {
/*	display: none;*/
}
